body{
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    }
.logo{
        color: #ccc;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 20px;
        position: relative;
        padding: 20px;
        }
.text{
color: black;
align-items: center;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8px;
    background-color: rgba(0, 0, 0, 0.822);
}