

/*Including the background */
body{
background-image: url(background.jpg);
background-size: cover;
background-attachment: fixed;

}
/*Styling input fields*/
input {
width:100%;
padding:12px;
border:1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
}
/*Styling submit bottom*/
input [type=submit]{
    background-color: #4ca;
    color:white;
}
/*Styling the container div*/
.container{
background-color: #f1f1f1;
padding: 8px;
width: 70%;
height: auto;
position: fixed;
bottom: 2;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#message{
display: none;
background: #f1f1f1;
color: #000;
position: relative;
padding:20px;
margin-top: 10px;
}
#message p{
padding: 10px 35px;
font-size: 18px;
}
.valid{
color:green;
}
.valid:before {
position:relative;
left: -35px;
content: "&#10004;";    
}
.invalid{
color:red;
}
.invalid:before{
position: relative;
left: -35px;
content: "&#10006;";        
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8px;
    background-color: #5d4954;
    
}
.logo{
color: #ccc;
text-transform: uppercase;
letter-spacing: 5px;
font-size: 20px;
}
.burguer div {
width: 25px;
height: 5px;
margin: 5px;
background-color: white;
}
.burguer {
    display: none;
}
@media screen and  (max-witdh:768) {
    .nav-links{
        position:absolute;
        right:0px;
        height:92vh;
        background-color: white;
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    body{
        display: none;
    }
}

    table, th, td {
        border: 1px dotted blue;
        background-color: white;
    }

    th, td {
        padding: 10px;
        height: 50px;
    }
    
    table {
        width: 300px;
        
    }

