

/*Including the background */
body{
background-image: url(background.jpg);
background-size: cover;
background-attachment: scroll;
}
/*Styling input fields*/
input {
width:100%;
padding:12px;
border:1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
}
/*Styling submit bottom*/
input [type=submit]{
    background-color: #4ca;
    color:white;
}
/*Styling the container div*/
.container{
background-color: #f1f1f1;
padding: 10px;
width: 80%;
height: auto;
}
#message{
display: none;
background: #f1f1f1;
color: #000;
position: relative;
padding:20px;
margin-top: 10px;
}
#message p{
padding: 10px 35px;
font-size: 18px;
}
.valid{
color:green;
}
.valid:before {
position:relative;
left: -35px;
content: "&#10004;";    
}
.invalid{
color:red;
}
.invalid:before{
position: relative;
left: -35px;
content: "&#10006;";        
}